    @charset "UTF-8";
    *body {
        b
    }
    
    h1 {
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        font-variant: small-caps;
        font-style: italic;
    }
    
    p {
        text-transform: lowercase;
    }
    
    nav a:hover {
        text-decoration: underline;
        border-radius: 3px;
        background-color: rgba(0, 0, 0, 0.101);
        transition-duration: 1s;
    }
    
    nav a {
        color: rgb(9, 9, 226);
        text-transform: none;
        text-decoration: wavy;
        padding: 4px;
    }
    
    footer {
        text-transform: uppercase;
        text-decoration: underline;
        background-color: rgb(0, 0, 0);
        padding-bottom: 8px;
        padding-top: 8px;
        color: aliceblue;
    }
    
    footer>a:hover {
        background-color: rgb(236, 229, 229);
        border-radius: 3px;
        transition-duration: .5s;
        text-decoration: wavy;
        padding: 2px;
        color: blue;
    }
    
    footer>a {
        color: ;
    }